button {
    width: 50%;
    padding: 0.8rem;
}

p {
    text-align: center;
    padding: .8rem 0px;
    border: 2px solid black;
    border-radius: 100px 100px 100px 100px;
}

.currentPart {
    background-color: #ffc0cb;
}

.otherPart {
    background-color: white;
}


