.benvinguda {
    text-align: center;
    font-size: 2rem;
}

h4, p {
    margin: 0;
    font-weight: normal;
}

.enfasis {
    padding-top: 48px;
    color: blue;
    font-weight: bold;
    font-size: 2.5rem;
}

button {
    margin-top: 50px;
    width: 25%;
    padding: 0.8rem;
}

